In [82]:
import pandas as pd

In [83]:
df= pd.read_csv('..\db\db.trnL.names.csv.gz', error_bad_lines=False, compression='gzip',header=None)

C:\Users\sande\AppData\Local\Temp\ipykernel_21712\3755593038.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df= pd.read_csv('..\db\db.trnL.names.csv.gz', error_bad_lines=False, compression='gzip',header=None)
b'Skipping line 6997: expected 6 fields, saw 7\nSkipping line 6998: expected 6 fields, saw 7\nSkipping line 8006: expected 6 fields, saw 7\nSkipping line 8007: expected 6 fields, saw 7\nSkipping line 15331: expected 6 fields, saw 7\nSkipping line 43036: expected 6 fields, saw 7\n'

bad lines

-2684587,wasps, ants & bees,N/R,Vespula,structor,Invertebrates

-2684587,wasps, ants & bees,N/R,Vespula,structor,Invertebrates

-2989845,wasps, ants & bees,N/R,Ooencyrtus,plautus,Invertebrates

-2989845,wasps, ants & bees,N/R,Ooencyrtus,plautus,Invertebrates

-89805,wasps, ants & bees,N/R,Cotesia,flavipes,Invertebrates

-167339,monocots,N/R,Eulalia,aurea (Bory) Kunth, 1830,Plants and Fungi

In [84]:
df.head()

         0         1    2              3               4                 5
0    84230    mosses  N/R       Anomodon         rugelii  Plants and Fungi
1  1144458  eudicots  N/R  Trichosanthes  quinquangulata  Plants and Fungi
2  1144458  eudicots  N/R  Trichosanthes  quinquangulata  Plants and Fungi
3   685054  eudicots  N/R  Trichosanthes    cucumeroides  Plants and Fungi
4    84230    mosses  N/R       Anomodon         rugelii  Plants and Fungi

In [85]:
df.columns= ['trnL_id','family','common_name','genus','species','type']

In [86]:
df['common_name'].value_counts()

N/R                       43511
Sichuan-pepper               12
goosegrass                    9
carob                         8
loblolly pine                 8
                          ...
New Zealand pipit             1
gray rockcress                1
spotted laughingthrush        1
Hoge's toadhead turtle        1
silver-eye                    1
Name: common_name, Length: 1916, dtype: int64

In [87]:
df['type'].value_counts()

Plants and Fungi         46308
Invertebrates             2316
Vertebrates               1107
Mammals                    131
Rodents                     40
Primates                    17
N/R                          4
Viruses                      3
Phages                       2
Environmental samples        1
Bacteria                     1
Name: type, dtype: int64

In [88]:
df['scientific_name'] = df['genus']+" "+df['species']

In [89]:
df.head()

,trnL_id,family,common_name,genus,species,type,scientific_name
0,84230,mosses,N/R,Anomodon,rugelii,Plants and Fungi,Anomodon rugelii
1,1144458,eudicots,N/R,Trichosanthes,quinquangulata,Plants and Fungi,Trichosanthes quinquangulata
2,1144458,eudicots,N/R,Trichosanthes,quinquangulata,Plants and Fungi,Trichosanthes quinquangulata
3,685054,eudicots,N/R,Trichosanthes,cucumeroides,Plants and Fungi,Trichosanthes cucumeroides
4,84230,mosses,N/R,Anomodon,rugelii,Plants and Fungi,Anomodon rugelii

In [90]:
df_rel = df[['trnL_id','common_name','genus','species','scientific_name','type']]

In [91]:
df_rel =df[(df['type']=='Plants and Fungi') & (df['common_name'] != 'N/R')]

In [92]:
df_rel.shape

(5400, 7)

In [93]:
df_rel['common_name'].value_counts()

Sichuan-pepper             12
goosegrass                  9
carob                       8
loblolly pine               8
maidenhair tree             7
                           ..
gray rockcress              1
southern adder's-tongue     1
tall fescue                 1
sea hearse                  1
velvet grass                1
Name: common_name, Length: 1396, dtype: int64

In [94]:
df_rel['scientific_name'].value_counts()

N/R N/R                      76
Hordeum vulgare              13
Oryza sativa                 10
Sorghum bicolor              10
Zea mays                     10
                             ..
Hernandia nymphaeifolia       1
Arabis alpina                 1
Holcus lanatus                1
Gynerium sagittatum           1
Saccharomyces pastorianus     1
Name: scientific_name, Length: 1369, dtype: int64

In [95]:
df_rel=df_rel[df_rel['scientific_name'] != 'N/R N/R']

In [96]:
df_rel.drop_duplicates(subset=['scientific_name'], keep='first', inplace=True)

In [97]:
df_rel['scientific_name'].value_counts()

Helleborus foetidus      1
Ipomoea lacunosa         1
Fagopyrum dibotrys       1
Dioscorea polystachya    1
Pisum abyssinicum        1
                        ..
Cakile lanceolata        1
Torenia fournieri        1
Verbena officinalis      1
Ilex rotunda             1
Nicotiana tabacum        1
Name: scientific_name, Length: 1368, dtype: int64

In [98]:
df_rel['common_name'].value_counts()

Sichuan-pepper            3
clap-weed                 2
goosegrass                2
stinking hellebore        1
trilobed morning glory    1
                         ..
American sea rocket       1
searocket                 1
bluewings                 1
pigeon's-grass            1
common tobacco            1
Name: common_name, Length: 1364, dtype: int64

In [99]:
df_rel.drop_duplicates(subset=['common_name'], keep='first', inplace=True)

In [100]:
df_rel.shape

(1364, 7)

In [101]:
df_rel.head()

,trnL_id,family,common_name,genus,species,type,scientific_name
21,46996,flowering plants,stinking hellebore,Helleborus,foetidus,Plants and Fungi,Helleborus foetidus
24,78511,eudicots,European black currant,Ribes,nigrum,Plants and Fungi,Ribes nigrum
25,175228,eudicots,red currant,Ribes,rubrum,Plants and Fungi,Ribes rubrum
28,135518,eudicots,English gooseberry,Ribes,uva-crispa,Plants and Fungi,Ribes uva-crispa
42,184985,eudicots,bei dian di mei,Androsace,septentrionalis,Plants and Fungi,Androsace septentrionalis

In [112]:
final = df_rel[['trnL_id','common_name','scientific_name']]

In [115]:
final.columns=['trnL_id', 'common_name_trnL', 'scientific_name']

In [117]:
final.to_csv('../Common-name/common_name_trnL.csv', index=True)